body {
    font-family: Montserrat;
    background-color: var(--body-background-color);
    color: var(--font-color);
    transition: background-color 250ms linear;
    transition: color 300ms linear;
}
.App {
    display: flex;
}
.active {
    box-shadow: var(--shadow);  
}

html[data-theme='light'] {
    --body-background-color: white;
    --font-color: black;
    --shadow: 0px 5px 46px 2px rgba(34, 60, 80, 0.2);
    --light-button: white;

}

html[data-theme='dart'] {
    --body-background-color: rgb(44, 40, 40);
    --font-color: white;
    --shadow: 0px 5px 46px 2px rgba(59, 73, 83, 0.5);
    --light-button: rgb(163, 158, 158);
}

.finansPanel {
    background-color: var(--body-background-color);
    transition: background-color 250ms linear;
    transition: color 300ms linear;
    text-align: center;
    // min-height: 10ch;
    padding: 30px 30px 0px 30px;
    width: 45%;
    margin: 20px 25px 25px 25px;
    border-radius: 40px;
    box-sizing: border-box;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
        & img {
            height: 70px;
            width: 70px;
        }

        &-categories {
            margin-top: 2ch;
            display: flex;
            flex-wrap: wrap;

        }
        &-categories__item {
            cursor: pointer;
            padding-top: 10px;
            text-align: center;
            margin: 30px 42px;
            width: 21%;
            border-radius: 20px;

            &:hover {
                box-shadow: 0px 5px 46px 2px rgba(5, 5, 5, 0.2);
            }
        }

        &-add {
            &__input-sum {
                margin-top: 30px;
                padding: 17px 100px 17px 30px;
                border-radius:20px 0px 0px 20px;
                border:rgb(44, 43, 43);
                box-shadow: -8px 5px 46px 2px rgba(5, 5, 5, 0.2);
                font-family: Monospace;
                color:var(--font-color);
                background-color:var(--light-button);
                
                
            }
            &__input-data {
                cursor: pointer;
                margin-top: 30px;
                padding: 15px 10px;
                border-radius:0px 20px 20px 0px;
                border:rgb(44, 43, 43);
                box-shadow: 9px 5px 46px 2px rgba(5, 5, 5, 0.2);
                font-family: Monospace;
                background-color:var(--light-button);
                
            }

            & button {
                cursor: pointer;
                margin-left: 10px;
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                font-family: Monospace;
                border-radius:20px;
            }
        }

}

.grahics {
    width: 52%;
}
.CircleDiogram {
    transition: background-color 250ms linear;
    transition: color 300ms linear;
    background-color: var(--body-background-color);
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 38ch;
    margin: 20px 25px 25px 25px;
    min-width: 50%;
    margin: 25px;
    border-radius: 40px;
    box-sizing: border-box;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.LineDiogram {
    transition: background-color 250ms linear;
    transition: color 300ms linear;
    background-color: var(--body-background-color);
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 24ch;
    padding: 30px;
    min-width: 50%;
    margin: 20px 25px 25px 25px;
    border-radius: 40px;
    box-sizing: border-box;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.Header {
    width: 97%;
    text-align: center;
    margin: 10px 25px 0px 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    &__change-button {
        display: flex;
        justify-content: center;
        width:50%;

        button {
            cursor: pointer;
            background-color:var(--body-background-color);
            color: var(--font-color);
            font-size: 20px;
            padding: 15px 75px;
            border:none;
            border-radius: 40px;
            margin-right: 46px;
            -webkit-box-shadow: var(--shadow);
            -moz-box-shadow: var(--shadow);
            box-shadow: var(--shadow);
        }
    }

    &__theme {

        button {
            cursor: pointer;
            font-size: 20px;
            padding: 17px 30px;
            border:none;
            border-radius: 40px;
            margin-left: 20px;
            -webkit-box-shadow: var(--shadow);
            -moz-box-shadow: var(--shadow);
            box-shadow: var(--shadow);
        }

        &-light {
            background: var(--light-button);
            color:var(--font-color);
            -webkit-box-shadow: var(--shadow);
            -moz-box-shadow: var(--shadow);
            box-shadow: var(--shadow);
        }

        &-dart {
            background:rgb(54, 49, 49);
            color:white;
            -webkit-box-shadow: var(--shadow);
            -moz-box-shadow: var(--shadow);
            box-shadow: var(--shadow);
        }

    }
    
    
    .active {
        -webkit-box-shadow: 0px 5px 46px 2px rgba(34, 60, 80, 0.6);
        -moz-box-shadow: 0px 5px 46px 2px rgba(34, 60, 80, 0.6);
        box-shadow: 0px 5px 46px 2px rgba(34, 60, 80, 0.6);
    }

}